<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="400mm"
   height="210mm"
   id="Layer_1"
   viewBox="0 0 1417.3228 744.09448"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="test_wasp.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.3576746"
     inkscape:cx="324.10424"
     inkscape:cy="371.42852"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     width="400mm"
     inkscape:window-width="1839"
     inkscape:window-height="1301"
     inkscape:window-x="627"
     inkscape:window-y="16"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-308.26772)">
    <image
       sodipodi:absref="/Users/jolearra-gigapan/Desktop/test_jpeg.jpg"
       xlink:href="test_jpeg.jpg"
       width="1410.5"
       height="552.5"
       preserveAspectRatio="none"
       id="image4217"
       x="7.8928547"
       y="404.68369" />
    <g
       id="HAO_0000101"
       class="bodypart"
       style="fill:#97cafc;fill-opacity:1;stroke:none">
      <path
         style="fill:#97cafc;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 273.99785,942.61573 c -54.45131,-0.0339 -114.95473,6.57759 -161.12129,-28.73916 -27.97871,-10.44759 -50.794225,-31.42536 -58.753134,-60.74026 6.514848,-39.65228 53.701604,-14.04708 69.154124,6.58941 46.15167,31.89509 104.99181,20.91929 157.70944,22.56656 38.79731,3.61389 84.90933,-10.61861 116.89293,17.84893 34.86856,7.38092 34.28074,57.6101 -4.47198,54.39044 -39.69803,-5.02593 -82.06831,6.68049 -119.41009,-11.91592 z"
         id="path4220"
         inkscape:connector-curvature="0" />
    </g>
  </g>
</svg>
